p This is the partial for view 2.
p
  | Showing of 'interpolate' filter:
  | {{ 'Current version is v%VERSION%.' | interpolate }}
section.custom#props
  ul
    li.item(src="aepdjondo", custom="kaiehfbekjfb") elmt 1
    li.item elmt 2
    
